    {% extends "base.html" %}
    {% load static%}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}


    <div class='Section-1'>
        <div class='Section-1-sub'>
            {% if request.user.is_authenticated %}
            Welcome back
            <a href="{% url 'users:user' pk=user.id %}"> {{ user.first_name }}!</a>
        </div>
        <div>
            <button type="button" class="btn"><a href="{% url 'news:newStory' %}">Write New Story</a></button>
        </div>
        {% else %}
        
        {% endif %}
    </div>
    <div class="section-2">
        <div class="section-2-sub-1">
            <h2>Latest News</h2>
            <div id="latest-stories">
                {% if latest_stories %}
                    {% for story in latest_stories %}
                        {% include './storyCard.html' with story=story position=forloop.counter %}
                    {% endfor %}
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}
                </div>
    
        <div>
    </div>
    <div class="section-3">
        <div class="section-3-sub-1">
            <h2>All News Stories</h2>
            <div id="all-stories">
                {% if all_stories %}
                    {% for story in all_stories %}
                        {% include './storyCard.html' with story=story %}
                    {% endfor %}
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
        

    {% endblock %}

