{% comment %} <div class="story-card" id="story-card-{{ position }}"> {% endcomment %}
<div class="story-card">
    
        <div class="story-card-img">
            <img src="{{ story.image_url }}"/>
        </div>
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h5>Date published: {{ story.pub_date }}</h4>
            <h4>Author: {{ story.author }}</h4>
            <button class="btn-2"><a href="{% url 'news:story' story.id %}"></a>Read more</button>
            
        </div>
    
</div>
